<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/skin1.min.css">
        <link rel="stylesheet" href="/css/fullcalendar.css">
    </head>
    <body>
        <div id="Timer">
            <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
        </div>
        <h1>Reservar</h1>
        <p>Se le asignara 1 Hora a partir de la fecha escogida</p>
        <div class="forms">
            <dif class="formsL">
                <form id="reservaForm">
                    <div class="container">
                        <!--<div id="calendar">
                            <input id='date' name="mydate" class="date" type="date" value="0">
                        </div>
                        <label><b>Hora</b></label>
                        <input type="number" name="hora: " min="0" max="23" required>
                        <br>-->
                        <select id="experimentsSelector"></select>
                        <div id="calendarDiv">   </div>
                    <button type="submit">Reservar</button>
                </div>
            </form>
        </dif>
            <div class="formR">
                <div id="reservaResponse"></div>
                <div id="reservaHist"></div>
            </div>
        </div>
        <script type="text/javascript" src="/js/main.min.js"></script>
        <script>
            $(":date").dateinput({
                /*Datepicker guide:
                http://jquerytools.github.io/demos/dateinput/index.html*/
                format: 'dd-mm-yyyy',
                min: -1,
                speed: 'fast',
                firstDay: 1,
                onHide: function(){
                    return false;
                }
            }).data("dateinput").setValue(0).show();
        </script>
        <a href="/">Salir</a>
    </body>
