<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel = "stylesheet" href = "/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/skin1.min.css">
        <link rel="stylesheet" href="/css/fullcalendar.css">
    </head>
    <body>
        <div id="Timer">
            <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
        </div>
        <h1>Reservar</h1>
        <ul class="tab">
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'EXPERIMENTOS')">LISTA DE EXPERIMENTOS</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'RESERVAS')">RESERVAS</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'CONTRASEÑA')">CAMBIO DE CONTRASEÑA</a>
            </li>
            <li class="usuario">{UserName}</li>
        </ul>

        <a href="/">Salir</a>
        <div class="accountcont" id="EXPERIMENTOS">
            <div id="experimentsAllUser" align="center">
            </div>
        </div>
        <div class="accountcont" id="RESERVAS">
            <div id="reservaResponse">
            </div>
                <div id="reservaHist" align="center">
                    <table>
                        <tr>
                            <td>Token No: </td>
                            <td>  Number(index  1)  </td>
                        </tr>
                        <tr>
                            <td>Fecha de creación: </td>
                            <td>  new Date(element.created_At)  </td>
                        </tr>
                        <tr>
                            <td>Fecha Reservada: </td>
                            <td>  new Date(element.initialDate)  </td>
                        </tr>
                        <tr>
                            <td>Duración: </td>
                            <td>  new Date(element.duration).getUTCHours()   Hora(s)</td>
                        </tr>
                        <tr>
                            <td>Usado: </td>
                            <td>  element.used  </td>
                        </tr>
                        <tr>
                            <td>Ir al workbench: </td>
                            <td><a href="/users/workbench/  element.token  ">Click Here</a></td>
                        </tr>
                    </table >
                </div>
        </div>
        <div class="accountcont" id="CONTRASEÑA">
            <div align="center" >
                <table>
                    <tr>
                        <td>CONTRASEÑA ANTIGUA: </td>
                        <td><input type="password" name="oldpassword"/></td>
                    </tr>
                    <tr>
                        <td>CONTRASEÑA NUEVA: </td>
                        <td><input type="password" name="newpassword"/></td>
                    </tr>
                    <tr>
                        <td>CONFIRME CONTRASEÑA NUEVA: </td>
                        <td><input type="password" name="cnewpassword"/></td>
                    </tr> 
                    <tr>
                        <td colspan="2" align="center"><input type="submit"  name="cnewpassword" value="CAMBIAR"/></td>
                    </tr>
                </table >
            </div>
        </div>

        <div id="id01" class="modal">
            <form id="reservaForm" class="modal-content modal-content2 animate">
                <div class="container">
                    <span id="closeX" class="close" title="Close      Modal">&times;</span>
                    <div id="calendarDiv">
                    </div>
                </div>
            </form>
        </div>
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("accountcont");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
        <script type="text/javascript" src="/js/main.min.js"></script>
    </body>
</html>