<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/nouislider.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="timebox">TIEMPO ANTES DE CULMINAR SESION :
      <div id="Timer">
        <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
      </div>
    </div>
    <h1>ADMINISTRACION</h1>
    <ul class="tab">
      <li>
        <a href="/" class="tablinks">SALIR</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'USUARIOS')">USUARIOS</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'EXPERIMENTOS')">EXPERIMENTOS</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'RESERVAS')">RESERVAS</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'DONADORES')">DONADORES</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'CONTRASEÑA')">CAMBIO DE CONTRASEÑA</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'BROADCAST')">BROADCAST</a>
      </li>
    </ul>
    <div class="accountcont" id="USUARIOS">
      <p class="notas">
        Notas:
        <br> El contenido de la tabla es editable para la facilidad en la edición.
        <br> Password reset enviara al correo del usuaro la contraseña
        <br> Recuerde guardar los cambios.
      </p>
      <input type="text" class="Filter" onkeyup="w3.filterHTML('#usersTable', '.searchItem', this.value)" placeholder="Filtrar Usuarios..">
      <div id="userList" align="center" class="info">
      </div>
    </div>
    <div class="accountcont" id="EXPERIMENTOS">
      <p class="notas">
        Notas:
        <br> El contenido de la tabla es editable para la facilidad en la edición.
        <br>
      </p>
      <p class="notas">
        Las horas validas son las hora inicial y final permitidas para realizar reservas, formato 24H., la hora final es excluyente
        <br> Las Duraciones permitidas en minutos deben ser multiplos de 30.
        <br> El servidor maneja un horario GMT-5.
        <br> Recuerde guardar los cambios.
      </p>
      <ul class="tab tab2">
        <li>
          <a href="javascript:void(0)" class="tablinks2" onclick="openCity2(event, 'ListaE')">LISTA</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="tablinks2" onclick="openCity2(event, 'crearE')">CREAR</a>
        </li>
      </ul>
      <div class="accountcont2" id="ListaE">
        <input type="text" class="Filter" onkeyup="w3.filterHTML('#experimentsTable', '.searchItem', this.value)" placeholder="Filtrar Experimentos..">
        <div class="wrapper1">
          <div class="div1" id="div1"></div>
        </div>
        <div class="wrapper2">
          <div id="experimentsAll" align="center" >
          </div>
        </div>
      </div>
      <div class="accountcont2" id="crearE">
        <form id="file-form" method="POST">
          <table class="myTable myTable2" style="width: 100%">
            <tr>
              <td>ID Donador: </td>
              <td>
                <input type="text" id="crearExpIDCreador" name="docCreator">
                <button id="LookupCreador">BUSCAR</button>
                <input type="hidden" name="idCreator" value="" id="idCreator">
              </td>
            </tr>
            <tr>
              <td>Nombre el Donador (Auto): </td>
              <td>
                <input type="text" id="crearExpNombreCreador" disabled>
              </td>
            </tr>
            <tr>
              <td>Correo el Donador (Auto): </td>
              <td>
                <input type="text" id="crearExpemailCreador" disabled>
              </td>
            </tr>
            <tr>
              <td>Nombre del Experimento: </td>
              <td><input type="text" id="crearExpNombre" name="name"></td>
            </tr>
            <tr>
              <td>Universidad: </td>
              <td><input type="text" id="crearExpUniversidad" name="university"></td>
            </tr>
            <tr>
              <td>País: </td>
              <td><input type="text" id="crearExpPais" name="country"></td>
            </tr>
            <tr>
              <td>Ciudad: </td>
              <td><input type="text" id="crearExpCiudad" name="city"></td>
            </tr>
            <tr>
              <td>Arduino: </td>
              <td><input type="text" id="crearExpArduino" name="arduino"></td>
            </tr>
            <tr>
              <td>Descripción: </td>
              <td>
                <textarea id="crearExpDesc" rows="6" maxlength="250" name="description"></textarea>
                <div id="textarea_feedback"></div>
              </td>
            </tr>
            <tr>
              <td>URL Experimento: </td>
              <td><input type="url" id="crearExpUrl" name="url"></td>
            </tr>
            <tr>
              <td>URL Imagen: </td>
              <td><input type="file" id="file-select2" name="image" /></td>
            </tr>
            <tr>
              <td>Subir PDF:</td>
              <td>
                <input type="file" id="file-select" name="pdf" />
                <input type="hidden" name="pdffile" value="" id="pdffile">
              </td>
            </tr>
            <tr>
              <td>Dias validos: </td>
              <td>
                <div class="checkList">
                  <label><input name="crearExpDays" value="0" type="checkbox">Domingo</label>
                  <br>
                  <label><input name="crearExpDays" value="1" type="checkbox">Lunes</label>
                  <br>
                  <label><input name="crearExpDays" value="2" type="checkbox">Martes</label>
                  <br>
                  <label><input name="crearExpDays" value="3" type="checkbox">Miercoles</label>
                  <br>
                  <label><input name="crearExpDays" value="4" type="checkbox">Jueves</label>
                  <br>
                  <label><input name="crearExpDays" value="5" type="checkbox">Viernes</label>
                  <br>
                  <label><input name="crearExpDays" value="6" type="checkbox">Sabado</label>
                </div>
                <input type="hidden" name="days" value="" id="daysFormat">
              </td>
            </tr>
            <tr>
              <td>Horas validas: </td>
              <td>
                <br>
                <div id="crearExpSchedule"></div>
                <br>
                <span id="crearExpScheduleMin"></span>-<span id="crearExpScheduleMax"></span>
                <input type="hidden" name="schedule" value="" id="scheduleFormat">
                <br>
              </td>
            </tr>
            <tr>
              <td>Duraciones permitidas: </td>
              <td>
                <div class="checkList">
                  <label><input name="crearExpDuration" value="30" type="checkbox">0:30:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="60" type="checkbox">1:00:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="90" type="checkbox">1:30:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="120" type="checkbox">2:00:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="150" type="checkbox">2:30:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="180" type="checkbox">3:00:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="210" type="checkbox">3:30:00</label>
                  <br>
                  <label><input name="crearExpDuration" value="240" type="checkbox">4:00:00</label>
                </div>
                <input type="hidden" name="duration" value="" id="durationFormat">
              </td>
            </tr>
            <tr>
              <td>Activo</td>
              <td><input type="checkbox" id="crearExpEnabled" checked name="enabled"></td>
            </tr>
          </table>
          <br>
          <button type="submit" id="upload-button" disabled>Upload</button>
        </form>
        <button class="crearExp" id="crearExp" disabled>Crear Nuevo Experimento</button>
        <br>
        <br>
      </div>
    </div>
    <div class="accountcont" id="RESERVAS">
      <p class="notas">
        Notas:
        <br> Campos Solo lectura
        <br> Es posible deshabilitar una reserva.
        <br> Recuerde guardar los cambios.
      </p>
      <input type="text" class="Filter" onkeyup="w3.filterHTML('#reservesTable', '.searchItem', this.value)" placeholder="Filtrar Reservas..">
      <div id="reservaHistAll" align="center" class="info">
      </div>
    </div>
    <!--div.accountcont#DONADORES>br+(table.myTable>thead>tr.Theader>td*6^tr>td*6)+br+(table.myTable>thead>tr.Theader>td*7^tr>td*7)-->
    <div class="accountcont" id="DONADORES">
      <h3>Crear Donador:</h3>
      <br>
      <div align="center" class="info">
        <table class="myTable">
          <thead>
            <tr class="Theader">
              <td>Identificacion</td>
              <td>Nombre</td>
              <td>Email</td>
              <td>Telefono</td>
              <td>Celular</td>
              <td>Crear Donador</td>
            </tr>
            <tr>
              <td><input type="text" id="crearCreadorID"></td>
              <td><input type="text" id="crearCreadorName"></td>
              <td><input type="email" id="crearCreadorEmail"></td>
              <td><input type="text" id="crearCreadorTel"></td>
              <td><input type="text" id="crearCreadorCel"></td>
              <td><button id="CrearCreador">Crear</button></td>
            </tr>
          </thead>
        </table>
      </div>
      <br>
      <h3>Lista de Donadores:</h3>
      <input type="text" class="Filter" onkeyup="w3.filterHTML('#creatorsTable', '.searchItem', this.value)" placeholder="Filtrar Donadores..">
      <div id="creadoresList" align="center" class="info">
      </div>
    </div>

    <div class="accountcont" id="CONTRASEÑA">
      <div align="center">
        <table>
          <tr>
            <td>CONTRASEÑA ANTIGUA: </td>
            <td><input type="password" id="oldpassword" /></td>
          </tr>
          <tr>
            <td>CONTRASEÑA NUEVA: </td>
            <td><input type="password" id="newpassword" /></td>
          </tr>
          <tr>
            <td>CONFIRME CONTRASEÑA NUEVA: </td>
            <td><input type="password" id="cnewpassword" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><button class="crearExp" id="passwordChange">Cambiar Contraseña</button></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="accountcont" id="BROADCAST">
      <div align="center">
        <br> BROADCAST:
        <br> Se enviara un mensaje a todos los usuarios de la pagina, util para anunciar mantenimientos o noticias inmediatas.
        <br>
        <input id="m3" autocomplete="off">
        <button class="crearExp" onclick="wsBroadcast(m3.value)" type="button">Broadcast</button>
        <br>
        <br>
      </div>
    </div>
    <div id="id01" class="modal">
      <form id="reservaForm" class="modal-content modal-content2 animate">
        <div class="container">
          <div class="calTopMenu">
            <span id="expNameCal" class="popupTopText"></span>
            <span class="close closeX" title="Close      Modal">&times;</span>
          </div>

          <div id="calendarDiv">
          </div>
        </div>
      </form>
    </div>
    <div id="id02" class="modal">
      <form class="modal-content modal-content2 animate" id="createExpForm">
        <div class="container">
          <div class="createExpTopMenu">
            <span class="popupTopText">Crear Experimento</span>
            <span class="close closeX" title="Close      Modal">&times;</span>
          </div>

        </div>
      </form>
    </div>

    <script type="text/javascript" src="/js/main.min.js"></script>
    <!--W3 is the filter-->
    <script src="http://www.w3schools.com/lib/w3.js"></script>
    <script src='/js/tablesort.js'></script>
    <!-- Include sort types you need -->
    <script src='/js/tablesort.number.js'></script>
    <script src='/js/tablesort.date.js'></script>
    <script src='/js/tablesort.dotsep.js'></script>

    <script src="/js/nouislider.min.js"></script>

    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("accountcont");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";

        new Tablesort(document.getElementById('reservesTable'), {
          ascending: true,
          descending: true
        });
        new Tablesort(document.getElementById('usersTable'), {
          ascending: true,
          descending: true
        });
        new Tablesort(document.getElementById('creatorsTable'), {
          ascending: true,
          descending: true
        });
      }

      function openCity2(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("accountcont2");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";

        new Tablesort(document.getElementById('experimentsTable'), {
          ascending: true,
          descending: true
        });
      }
    </script>

    <script>
      var slider = document.getElementById('crearExpSchedule');

      noUiSlider.create(slider, {
        start: [0, 23.59],
        connect: true,
        step: 1,
        range: {
          'min': 0,
          'max': 23.59
        },
        margin: 1,
      });

      var paddingMin = document.getElementById('crearExpScheduleMin'),
        paddingMax = document.getElementById('crearExpScheduleMax');

      slider.noUiSlider.on('update', function (values, handle) {
        if (handle) {
          paddingMax.innerHTML = values[handle];
        } else {
          paddingMin.innerHTML = values[handle];
        }
      });
    </script>
  </body>
</html>