<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>WS Route invocation with POST</h1>
    <form>
      <input id="m" autocomplete="off" />
      <button onclick='wsTest(m.value)' type="button">Submit</button>
      <button type="reset">Reset</button>
    </form>
    <ul id="messages"></ul>
    <h1>WS Subscriptions</h1>
    <form>
      subscribe to channel /items/<input id="subscriptions" autocomplete="off" />
      <button onclick='wsSubscribe(subscriptions.value)' type="button">Subscribe</button>
      <button onclick='wsUnsubscribe(subscriptions.value)' type="button">Unsubscribe</button>
      <button onclick='wsSubscriptions()' type="button">List subscriptions</button>
      <br>
      <input id="m2" autocomplete="off" />
      <button onclick='wsSendtoChannel(subscriptions.value, m2.value)' type="button">Submit</button>
      <button type="reset">Reset</button>
    </form>
    <h1>WS Broadcast</h1>
    <form>
      <input id="m3" autocomplete="off" />
      <button onclick='wsBroadcast(m3.value)' type="button">Submit</button>
      <button type="reset">Reset</button>
    </form>

    <script type="text/javascript" src="/js/main.min.js"></script>


<canvas id="videoCanvas" width="640" height="480">
		<p>
			Please use a browser that supports the Canvas Element, like
			<a href="http://www.google.com/chrome">Chrome</a>,
			<a href="http://www.mozilla.com/firefox/">Firefox</a>,
			<a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
		</p>
</canvas>

    <script type="text/javascript">
		// Setup the WebSocket connection and start the player
		
		var canvas = document.getElementById('videoCanvas');
		var player = new jsmpeg(wsTest2, {canvas:canvas});
	</script>
  </body>
</html>