<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body><div class="banner"><a id="botonindex" href="login">INICIAR SESION</a><button type="reset" class="cancelbtn">¿OLVIDASTE TU CONTRASEÑA?</button> </div>
      <div class="logo"><img src="/images/logo.png" alt="Logo"></div> 
        <center>       
            <h2>
                ¡Aprende a programar en ARDUINO donde quieras!.

            </h2>
        </center>

        <div class="forms">
          
                <div class="formsL"><img src="/images/banner.png" alt="Banner"></div>

            <div class="formsR">
                <form id="createForm">
                    <div class="imgcontainer">
                        <img src="/images/registrate.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <label><b>Nombre</b></label>
                        <input type="text" placeholder="Nombre y Apellido" name="username" required>
                        <label><b>E-Mail</b></label>
                        <input type="email" placeholder="Correo Electronico" name="email" required>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Contraseña" name="password" required>
                        <label><b>Universidad</b></label>
                        <input type="text" placeholder="Universidad" name="university" required>
                        <button type="submit">Crear Cuenta</button>
                    </div>
                    <div class="container" style="background-color:#f1f1f1">
                        
                        <span class="psw">Re-enviar E-mail de confirmacion<a href="#" id="email">E-mail</a></span>
                    </div>
                </form>
            </div>
        </div>
         <script type="text/javascript" src="/js/main.min.js"></script>
    </body>
</html>