<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h3>Program Name</h3>
        <p>
            Expicacion rapida
        </p>
        <div class="forms">
            <div class="formsL">
                <a href="login">Login</a>
            </div>
            <div class="formsR">
                <form id="createForm">
                    <div class="imgcontainer">
                        <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <label><b>Nombre</b></label>
                        <input type="text" placeholder="Nombre" name="username" required>
                        <label><b>E-Mail</b></label>
                        <input type="email" placeholder="Enter Email" name="email" required>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <label><b>Universidad</b></label>
                        <input type="text" placeholder="Universidad" name="university" required>
                        <button type="submit">Create Account</button>
                    </div>
                    <div class="container" style="background-color:#f1f1f1">
                        <button type="reset" class="cancelbtn">Reset</button>
                        <span class="psw">Re-send authentication <a href="#">E-mail</a></span>
                    </div
                </form>
            </div>
        </div>
         <script type="text/javascript" src="/js/main.min.js"></script>
    </body>
</html>