@import url('https://fonts.googleapis.com/css?family=Roboto');

       a:link{
           color: cadetblue;
       }
       a:hover{
           color: blue;
       }
       a:active{
           color: green;
       }

#email{
     background: transparent url('http://www.free-icons-download.net/images/email-icon-47189.png') no-repeat;
     /*display: inline-block;*/
     width: 24px;
     height: 24px;
     float: right;
     margin-left: 5px;
}
#email:hover{
     background: transparent url('https://cdn3.iconfinder.com/data/icons/sweetiewebcom/png-24/24-email-letter.png') no-repeat;
}
body
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background-image: url(/images/light-wool.png);
    background-color: #45c7ed;
}

img{
    height: auto;
    width: 100%;
}
.downImg{
    height: auto;
    width: 45%;
}
h1, h2, h3, h4, h5{
    margin: 10px 0px;
    /*float: left;*/
    text-align: center;
    width: 100%;
}

#timebox{
    background-color: aliceblue;
    border-left: 12px solid #096c74;
    padding: 12px;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 30px;
    margin-right: 10%;
    width :25%;
    /*float: left;*/
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*padding-top: 60px;*/
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    max-width: 450px;
}

.modal-content2 {
    margin: auto; /* 5% from the top, 15% from the bottom and centered */
    width: 50%; 
}
#crearExpDesc{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20em;  height: 3em;
}
.calTopMenu{
    width: 100%;
    height: 35px;
    text-align: center;
}
.popupTopText{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

/* The Close Button (x) */
.close {
    position: relative;
    /*margin-left: 90%;*/
    top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    float: right;
    right: 8px;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.info{
    overflow: auto;
    height: 10%;
    width: 100%;
}
.info{
    overflow-x:auto;
    padding: 0px 0px 20px 0px;
}
.forms{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
}
.formsL{
    width: 70%;
    text-align: center;
}

.formsR{
    /*margin-top: 70px;*/
    display: block;
    width: 30%;
    min-width: 350px;
}

.accountcont, .accountcont2{
    display: none;
    padding: 10px 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    /*width: 80%;*/
    border: 1px solid #ccc;
    border-top: 0px;
    background-image: linear-gradient(to bottom, white 0%, white 100%), linear-gradient(to bottom, cadetblue 0%, cadetblue 100%);
background-clip: content-box, padding-box;
}

.accountcont2{
    margin-left: 0px;
    margin-right: 0px;
    border: 0px none;
    padding: 0px;
}

ul.tab {
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
    /*overflow: hidden;*/
    border: 1px solid #ccc;
    border-bottom: 0px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
ul.tab2{
    margin: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ccc;;
}

ul.tab li {
    /*float: right;*/
    margin: 1vh 0.4vw;
    background: #8ab8b9;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.usuario{
float : left !important;
margin-top: 18px !important;
margin-left: 5% !important;
background: transparent !important;
}

ul.tab li a:hover {
    background-color: cornflowerblue;

}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 1vh 1vw;
    text-decoration: none;
    transition: 0.3s;
    /*font-size: 17px;*/
    font-size: calc(8px + 0.6vw);
}

.checkList{
    column-fill: balance;
    column-count: 4;
    text-align: justify !important;
    /*column-gap: 10px;
    column-rule: aquamarine;
    column-rule-width: 5px;
    column-width: 10px;
    column-rule-style: solid;*/
}

#botonindex{
    background-color: cornflowerblue;
    margin: 10px;
    padding: 6.5px 40px 9px 40px;
    text-decoration: none;
    cursor: pointer;
}

.infotable>*>tr>td {
    border: solid darkgrey;
}
.infotable>*>tr {
    border: solid darkgrey;
}
.infotable {
    margin: 5px;
    padding: 10px;
    border: solid darkgray;
}
.notas{
    margin: 5px;
}
#m3{
    margin: 10px;
}
.logo{
    
    /*padding-left: 10%;*/
    /*padding-top: 30px;*/
    align-content: center;
    float: left;
    height: 50px;
    padding: 5px;
}

.logo > img {
    width: auto;
    height: 100%;
}
 /* Bordered form */
form {
    border: 20px solid #f1f1f1;
    background-color: azure;
}
.banner{
    width: 100%;
    background-color: cadetblue;
    text-align: right;
    height: 60px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=url] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
form>*>button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    margin: 8px;
    border: none;
    cursor: pointer;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 1px;
}

.Filter {
    background-image: url('/images/searchicon.png')!important; /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px !important;
    margin-bottom: 15px !important;
}
.myTable{
    border-collapse: collapse;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}
.myTable th, .myTable td{
    border: 2px cadetblue solid;
    padding: 0px 5px;
}
.myTable tr:nth-child(even) {
    background-color: #f1f1f1
}
.myTable tr.Theader, .myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #C2C2C2;
}
.myTable *{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    /*vertical-align: middle;*/
    max-width: 200px;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    font-size: calc(7px + 0.5vw);
}
.myTable2 *{
    max-width: initial;
}
#crearExpSchedule, #crearExpSchedule *{
    overflow: initial !important;
}
.myTable input[type=text], .myTable input[type=url], .myTable input[type=email]{
    /*border: 0px;*/
    width: 100%;
    height: 100%;
    background: #eef5f7;
    padding: 0px;
    margin: 0px;
}
.myTable button {
    width: 70%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: #8ab8b9;
    cursor: pointer;
}

.myTable button:hover {
    background-color: cadetblue;
}
.myTable textarea {
    overflow: auto;
    resize: both;
    border: 1px solid #ccc;
    background: transparent;
    /*margin-right: -5px*/
    text-align: justify;
    width: 100%;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
.crearExp{
    background: #8ab8b9;
    border: 0px;
    width: 50%;
    height: 50px;
    cursor: pointer;
    margin: 0px 25%;
}
.crearExp:hover{
    background: cadetblue;
}





.wrapper1, .wrapper2 { width: 100%; overflow-x: scroll; overflow-y: hidden; }
.wrapper1 { height: 20px; }
.div1 { height: 20px; }
#experimentsAll { overflow: none; }


/* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
    @media screen and (max-width: 580px) {
        h1{
            font-size: 1em;
        }
        #timebox {
            margin-right: 10%;
            width: auto;
        }
        .myTable *{
            font-size: calc(9px + 0.6vw);
        }
        ul.tab li a {
            font-size: calc(8px + 1vw);
        }
        ul.tab {
            display: block;
        }
        .modal-content, .modal-content2{
            width: 100%;
        }
        .forms{
            margin: 0px;
        }
        .cancelbtn {
            padding: initial;
        }
        .checkList{
            column-count: 2;
        }
    }
    @media screen and (max-width: 800px) {
        .forms{
            display: block;
            width: 100%;
        }
        .formsL{
            width: 100%;
        }
        .formsR{
            margin-top: 0px;
            width: 100%;
        }
    }
